[Unit]
Description=get fahrpreise

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/fahrpreise/dist/index.js --connectionfile /etc/fahrpreise/connections.json --renderer db --days 90 --destfolder /var/fahrpreise/
User=fahrpreise
[Install]
WantedBy=default.target
